
.skills-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.skills-content {
    width: 100%;
    max-width: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.skills-title {
    font-size: 34px;
    margin: 0;
    font-family: "IBM Plex Mono", monospace;
    text-align: center;
    font-weight: 300;
    font-style: normal;
}

.skills-flex-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 44px;
    row-gap: 28px;
}

.skill-card {
    width: 198px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.skill-image {
    width: 190px;
    height: 120px;
    transition: transform 0.3s ease;
}

.skill-card:hover {
    transform: scale(1.05);
}


@media (max-width: 768px) {
    .skills-flex-container {
        gap:20px;
        row-gap: 10px;
    }
    .skill-card {
        width: 200px;
        height: 170px;
    }
}

@media (max-width: 480px) {
    .skills-title {
        font-size: 28px;
    }
    .skill-image {
        width: 200px;
        height: 120px;
    }
}