.about-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.about {
    width: 100%;
    max-width: 950px;
    display: flex;
    align-items: center;
    gap: 40px;
    padding-bottom: 10px;
    border-bottom: 1px dashed rgb(83, 83, 83); 
}

.about-text-block {
    flex: 1;
}

.about-title {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
}

.about-text {
    line-height: 1.3;
    font-size: 22px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 200;
    font-style: normal;
}

.about-image {
    width: 300px;
    height: auto;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
        padding: 0 20px 20px 20px;
        border-bottom: 1px dashed rgb(83, 83, 83);
    }
    
    .about-image {
        width: 100%;
        max-width: 300px;
    }
}